@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
  }
  
  h1, h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
  }
  
  * {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }
